/*******************BODY*******************************/
body {
    display: grid;
    grid-template-areas: 
        "nav header header"
        "nav cards trending";
    margin: 0;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 4fr;
}
/*******************HEADER*******************************/
.header {
    grid-area: header;
    background-color: coral;
    display: grid;
    grid-template-areas: 
    "top-left right"
    "bottom-left right";
}

.header-search {
    grid-area: top-left;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

input#search {
    flex: 1;
}

.header-account-greeting {
    grid-area: bottom-left;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.greeting-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

p#greeting {
    margin: 0;
}

.header-account-info {
    grid-area: right;
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-account {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.header-account-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/*******************NAV*******************************/
.sidebar {
    display: grid;
    grid-area: nav;
    background-color: aqua;
    grid-template-areas: 
        "nav-title"
        "main-links"
        "second-links";
    grid-template-rows: 1fr 3fr 2fr;
}

nav li {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

li a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

.nav-title{
    grid-area: nav-title;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-links {
    grid-area: main-links;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.secondary-links {
    grid-area: second-links;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*******************MAIN*******************************/
main {
    background-color: beige;
}

.cards {
    grid-area: cards;
    display: grid;
    grid-template-areas: 
        "1 2"
        "3 4"
        "5 6";
    gap: 1rem;
    margin: 1rem;
}

.card-text {
    display: flex;
    flex-direction: column;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.cards > div {
    background: white;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 10px 10px 6px -1px rgba(235,235,235,0.75);
}

/*******************TRENDING*******************************/
.right-section {
    grid-area: trending;
    background-color: beige;
    display: grid;
    grid-template-areas: 
        "title-1"
        "card-1"
        "title-2"
        "card-2";
    grid-template-rows: repeat(4, auto);
}

.right-card-two-account {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.right-card-two p {
    margin: 0;
}

.right-section > div {
    background: white;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 10px 10px 6px -1px rgba(235,235,235,0.75);
}
