/*
*   Steps left:
    *   add input styling ✅
    *   add font style
    *   style links ✅
    *   add account images
    *   edit color theme ✅
    *   add hover to card icons
    *
*/

/*******************BODY*******************************/
body {
    display: grid;
    grid-template-areas: 
        "nav header header"
        "nav cards trending";
    margin: 0;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr;
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/*******************HEADER*******************************/
.header {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-areas: 
        "top-left right"
        "bottom-left right";
    grid-template-columns: 2fr 1fr;
}

.header p {
    font-weight: bold;
}

.header-search {
    grid-area: top-left;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

input#search {
    flex: 1;
    background-color: #EBEBEB;
    border-radius: 40px;
    border: none;
    padding: 8px;
}

input#search:focus {
    outline: none;
}

.header-account-greeting {
    grid-area: bottom-left;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.greeting-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

p#greeting {
    margin: 0;
}

.header-account-info {
    grid-area: right;
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-account {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.header-account-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.header-account-buttons button {
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #4E6E5D;
    color: #f8f8ff;
}

.header-account-buttons button:active {
    transform: translateY(4px);
    box-shadow: none;
}

/*******************NAV*******************************/
.sidebar {
    display: grid;
    grid-area: nav;
    background-color: #4E6E5D;
    grid-template-areas: 
        "nav-title"
        "main-links"
        "second-links";
    grid-template-rows: 10rem 20rem 20rem;
}


nav li {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

li a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    transform: translateY(4px);
}

.filter-color {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(320deg) brightness(104%) contrast(102%);
}

.nav-title{
    grid-area: nav-title;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-links {
    grid-area: main-links;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.secondary-links {
    grid-area: second-links;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*******************MAIN*******************************/
main {
    background-color: #EBEBEB;
}

p#card-header {
    padding: 0rem 2rem;
    font-weight: bold;
}

.cards {
    grid-area: cards;
    display: grid;
    grid-template-areas: 
        "1 2"
        "3 4"
        "5 6";
    gap: 1rem;
    margin: 1rem;
}

.card-text {
    display: flex;
    flex-direction: column;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

p.card-title {
    font-weight: bold;
}

.cards > div {
    background: white;
    padding: 2rem;
    margin: 1rem;
    box-shadow: rgba(235, 235, 235, 0.75) 10px 10px 6px -1px;
    border-left: 6px solid red;
    border-radius: 6px;
}

.cards > div:hover {
    transform: translateY(4px);
}

/*******************TRENDING*******************************/
.right-section {
    grid-area: trending;
    background-color: #EBEBEB;
    display: grid;
    grid-template-areas: 
        "title-1"
        "card-1"
        "title-2"
        "card-2";
    grid-template-rows: repeat(4, auto);
}

p#announcements {
    padding: 0rem 1rem;
    font-weight: bold;
}

p.right-card-header {
    font-weight: bold;
}

.right-card-two-account {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.right-card-one > p {
    font-size: 14px;
}

.right-card-two p {
    margin: 0;
}

.right-section > div {
    background: white;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 10px 10px 6px -1px rgba(235,235,235,0.75);
}
